ДЗ

Составить чек лист проверки полей формы регистрации, составить
баг-репорт и сделать список импрувментс.



Требования к полю Name:

1. В плейсхолдере надпись Name не должна иметь дополнительных
символов (например, ?).
2. Длинна имени может быть в диапазоне от 2 до 128 символов.
3. При нажатии на плейс холдер рамка должна подсвечиваться
голубым цветом.
4. Можно вводить только латинские буквы, цифры, тире, нижнее
подчеркивание, точка и пробел.
Остальные символы - запрещенные.
5. Нельзя вводить два спецсимвола (-, _, ., пробел) дважды в
поле Name.
6. Имя может начинаться с цифры и разрешенных спецсимволов.
7. При введении смайликов и сабмита должна выскачить ошибка.
8. При неверно введенных данных в поле Name и сабмита, поле
Name должно подсвечиваться красным цветом.
9. При введении матерного слова форма должна ругаться.
10. Поле должно принимать данные из буфера обмена (скопированный
текст).
11. При нажатии на плейс холдер текст в нем должен исчезать.
12. При введении неверного имени и его отправки (submit), скрипт
валидации (окошко об ошибке в поле) должен срабатывать только
после нажатия на submit.
13. При сабмите плейс холдер должен очищаться.
14. Поле Name и Email может совпадать.


К полю Surename требования такие же как и к полю Name.


Требования к полю Email:

1. Обязательно должен быть символ @ и . (точка ставится после
@ перед доменом).
2. Допустимые спецсимволы @ . -
3. Email не может начинаться с допустимых спецсимволов.
4. Перед названием доменной зоны точка обязательна.
5. Двойное введение допустимых спецсимволов подряк запрещено.
6. Двойное введение @ в Email запрещено.
7. Количество символов до @ мин 4 макс 64, количество символов
от @ до последней точки мин 2 макс 32, количество символов после
последней . мин 2 макс 16.
8. Поле нерегистрозависимое.
9. Кирилица запрещена.
10. Доменное имя может состояить из цифр. Доменная зона - нет.
11. Поле должно ругаться на введение уже используемого email 
другим пользователем.
12. Email может состоять только из цифр.
13. Цифры можно вводить в любой части, кроме после последней точки.
14. Поле Name и Email может совпадать.


Требования к полю Password:

1. Обязательно должен быть (. @ !). Обязательно должна быть одна
заглавная и маленькая буква,одна цифра. Длинна строки мин 8 макс 16.
2. Может быть несколько допустимых спецсимволов в пароле (отдельно
и подряд).
3. Должна выводиться ошибка о введении недопустимых спецсимволов при
заполнении поля.
4. Пароль должен быть заполнен только латиницей.
5. Пароль может совпадать с Name.
6. Пароль можно ввести в поле через буфер обмена.
5. При перезагрузке поле очищается.
6. При введении пароля подсказки всплывать не должны.


Form
1. При одновременном неверном заполнении нескольких полей
должно выдаваться информационное сообщение о некорректном
вводе тех строк, где допущены ошибки.
2. Плейсхолдеры должны быть унифицированы.
3. Весь текст в форме регистрации должен быть читабельным.
4. Обязательные для заполнения поля должны быть отмечены.
5. При введении неверного значения в любое поле (после нажатия кнопки
submit), такое поле должно подсвечиваться красным.